
<!DOCTYPE html>
<html>
<head>
    <title>Greeting Page</title>
    <meta charset="UTF-8">
</head>

<h1>Hello Car World!</h1>

<p>This page shows an image loaded from the static folder.</p>

<img src="https://imgs.search.brave.com/zp2j04qQgqC_htWopwT121hOUWRWQ77HZNdPPDwgSE4/rs:fit:500:0:1:0/g:ce/aHR0cHM6Ly9pbWFn/ZXMucGV4ZWxzLmNv/bS9waG90b3MvMzMw/MzUyMzAvcGV4ZWxz/LXBob3RvLTMzMDM1/MjMwL2ZyZWUtcGhv/dG8tb2Ytc2xlZWst/YmxhY2stc3BvcnRz/LWNhci1pbi1nYXJh/Z2Utd29ya3Nob3Au/anBlZz9hdXRvPWNv/bXByZXNzJmNzPXRp/bnlzcmdiJmRwcj0x/Jnc9NTAw" alt="Car image" width="400"/>

</html>
